.title {
  width: 100%;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  color: #2A77AE;
  margin-bottom: 0px;
  background-color: black;
}

.card {
  /* Your existing styles for the card */
  /* Add any additional styles here */
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.1); /* Increase the size when hovered */
}

.remove {
  /* Your existing styles for the remove button */
}
